*:not(console) {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
  	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-image: url("../image/wood_background.jpg");
	background-color: #CE9560;
}

.container{
	display: grid;
	grid-template-columns: 2fr 5fr 3fr;
	grid-template-areas:
			"header header header"
			"history main aside"
			"console console console";
	grid-gap: .75em;
	width: 100vw;
	height: 100vh;
}

.border-row {
	 height: 5px;
}
.border-row .border-h {
	 width: 54px;
	 background: #a76c68;
	 height: 10px;
	 display: inline-block;
	 float: left;
}
main div {
	 margin: 0 auto;
	 width: 495px;
}
.row {
	 height: 45px;
}
div[class*="row"] span {
	 display: block;
	 float: left;
	 height: 45px;
	 width: 45px;
	 background: #4d535f;
}
div[class*="row"] span.border-v {
	 background: #a76c68;
	 width: 10px;
}
span {
	 position: relative;
	 display: inline-block;
	 transition: all 0.5s;
}
span.border-v:hover, span.border-h:hover {
	 background: green !important;
	 cursor: pointer;
}
span.cell:hover {
	 cursor: pointer;
	 animation: hover 1s infinite alternate;
	 transition: all 1s;
	 background: red !important;
	 transform: rotate(70deg);
}
span.border-h:hover {
	 background: green !important;
}
span.border-h:hover + span {
	 background: green !important;
}
@keyframes hover {
	from {
		 transform: scale(1);
		 opacity: 1;
	}
	to {
		 transform: scale(1.1);
		 opacity: 0.5;
	}
}
.active_yellow {
	 background: yellow !important;
}

.active_red {
	background: red !important;
}

.active_green {
	background: darkgreen !important;
}

.active_blue {
	background: blue !important;
}

.blocked {
	 background: lightgreen !important;
}
.hover {
	 background: green !important;
}
.app {
	opacity:1;
	cursor:default;
}

header{
	grid-area: header;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 70px;
}

history{
	grid-area: history;
	padding-left: 80%;
}

main{
	grid-area: main;
	text-align: center;
	align-content: center;
	padding-left: 20%;
}

aside{
	grid-area: aside;
}

console{
	grid-area: console;
}


img {
	border-radius: 20%;
	width: 370px;
}

