@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700');
i {
    font-max-size: 150px;
    font-size: 150px;
    margin: auto;
    display: inline-block;
}
figure h1,figure h2,figure h3,figure h4,figure h5 {
    margin: 0;
    font-weight: 400;
}
.card {
    display: inline-block;
    width: 300px;
    padding: 1em;
    border-radius: 15px;
    margin: 10px;
    background: #ddd;
    text-align: left;
    box-shadow: 0px 5px 20px -10px #111;
    position: relative;
    transition: 0.4s;
}
.card__caption {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 1em;
    position: relative;
    border-radius: 0 0 3px 3px;
}
.card__image-container {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 1em 1em 0;
    border-radius: 3px 3px 0 0;
}
.card__type {
    position: absolute;
    top: 0;
    right: 1em;
    transform: translateY(-50%);
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 2px;
    background: #bbb;
}
.card__label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    margin-bottom: 3px;
}
.card__name {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.02em;
}
.card__stats {
    margin: 1em 0;
    width: 100%;
}
.card__stats th {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: right;
    font-weight: 300;
}
.card__stats th, .card__stats td {
    width: 50%;
    padding: 0.25em 0.5em 0;
}


.card--blue {
    background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
    box-shadow: 0px 5px 20px -10px #000851;
}
.card--blue .card__type {
    background-color: #1cb5e0;
}
.card--gold {
    background: linear-gradient(90deg, rgba(255, 222, 0, 1) 34%, rgba(232, 255, 153, 1) 83%);
}
.card--gold .card__type {
    background-color: #000;
}
.card--red {
    background: linear-gradient(0deg, rgba(199, 24, 0, 1) 10%, rgba(252, 194, 69, 1) 100%);
}
.card--red .card__type {
    background-color: rgba(199, 24, 0, 1);
}

.card--darkgreen {
    background: linear-gradient(140deg, rgba(196, 218, 61, 1) 0%, rgba(110, 127, 14, 1) 69%, rgba(39, 80, 9, 1) 100%);
}
.card--darkgreen .card__type {
    background: #6e7f0e;
}

.card:nth-child(1) {
    transform: translateY(0px) rotate(2deg);
}

.card:hover {
    z-index: 5;
    box-shadow: 0px 13px 30px -15px #000;
    transform: translateY(-10px);
}
